@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
    background-color: #201f1f;
    font-family: "Noto Sans", sans-serif;
}

.row {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.item {
    display: table-cell;
    vertical-align: top;
}

.item img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}
