@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
    background-color: #201f1f;
    font-family: "Noto Sans", sans-serif;
}


h1 {
    padding-top: 5vh;
    color: white;
    display: block;
    font-size: 300%;
    text-align: center;
}

.row {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.item {
    display: table-cell;
    vertical-align: top;
    margin-left: 200px;
    margin-right: 200px;
}

.item img {
    display: block;
    width: 400px;
    height: auto;
    margin: auto;
   
}

/* .item p{
    font-size: 15px

} */
