@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
    background-color: #201f1f;
    font-family: "Noto Sans", sans-serif;
}

nav {
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline;
    color: white;
    font-family: "Noto Sans", sans-serif;
    padding: .8em 1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    font-size: 150%;
    background-color: black;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

h2 {
    color: white;
    font-size: 130%;
    text-align: center;
}

.info {
    display: block;
    width: 100%;
    margin-top: 15vh;
    background-color: var(--background);
    border-radius: 3vw;
    color: white;
    text-align: center;
    display: flex;

}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 45vh;
    padding-bottom: 2vh;
}


@media screen and (max-width: 639px) {}
