@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
    background-color: #201f1f;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

nav {
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav a {
    display: inline;
    color: white;
    font-family: "Noto Sans", sans-serif;
    padding: .8em 1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    font-size: 150%;
    background-color: black;
}

p {
    margin-top: 2%;
    text-align: center;
    font-size: 125%
}


h1 {
    padding-top: 5vh;
    display: block;
    font-size: 300%;
    text-align: center;
}

h2 {
    font-size: 130%;
    text-align: center;
}


h3 {
    text-align: center;
    font-size: 120%;
    padding-top: 5vh;
}

.intro {
    background-color: var(--background);
    border-radius: 3vw;
}

.social-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.linkedin-link img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 8px;
}

.github-link img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 8px;
}

.project-page-container {
    display: block
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.project-card-col {
    align-items: center;
    display: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card img {
    height: 20vw;
    width: 20vw;
    object-fit: scale-down;
}

footer {
    padding: 10px;
    text-align: center;
    margin-top: 20vh;
    /* padding-bottom: 2vh; */
}

@media screen and (max-width: 639px) {}
